# We need that because after npm 7, npm automatically tries to install peer dependencies.
# More details can be found here: https://github.blog/2021-02-02-npm-7-is-now-generally-available/#peer-dependencies
# But the problem is that several modules that react-native-daily-js depends on, like, @react-native-async-storage/async-storage,
# react-native-background-timer, react-native-url-polyfill, and—yes—@daily-co/react-native-webrtc, all declare a peer dependency on react-native.
# If we remove that we are going to receive errors of different version creating conflict.
legacy-peer-deps=true
