# we need that because of after npm 7 npm automatically tries to install peer dependencies.
# more details here: https://github.blog/2021-02-02-npm-7-is-now-generally-available/#peer-dependencies
# but the problem is that, in our case, we have a peer dependency declared in a library (react-native-webrtc) nested two layers in from the host app
# if we remove that we are going to receive errors of different version creating conflict
legacy-peer-deps=true
